DATABASES = {
    'default': {
        'ENGINE': 'pg',
        'NAME': '',  # 数据库名字
        'USER': '',  # 用户名
        "PASSWORD": '',  # 自己的密码
        "HOST": '',
        'PORT': 0,
    }
}

TABLEPREFIX = ''

SPECIALRELATIONTABLE = {
    'product': {
        'cover_id': 'products'
    }
}
SPECIALRELATIONCLOUMN = {
    'create_id': 'users',
    'modify_id': 'users',
}
SHOWCONFIG = {
    'padding': 300,  # 间距
    'line_count': 5,  # 列数
    'symbol_size': 20,  # 最小图标大小
    'max_symbol_size': 100,  # 最大图标大小
    'show_all': 1  # 是否默认显示全部 0 否 1 是
}
