databases = {
    'default': {
        'engine': 'pg',
        'name': '',  # 数据库名字
        'user': '',  # 用户名
        "pwd": '',  # 自己的密码
        "host": '',
        'port': 0,
    }
}

defaultDb = 'default'

tablePrefix = ''

# 特殊表字段映射
# 这里意思是 area.pid 关联关系映射 category表的id
# 'area': { 数据库表名
#         'pid': 'category.id' 字段名 => 关联数据表的字段名 注意不要加前缀
#     }
mapRelationTable = {
    'area': {
        'pid': 'category.id'
    }
}
# 特殊字段映射
# 把某个字段名恒定关联到某个表的字段
# create_id 字段 => users.id 注意不要加前缀
mapRelationColumn = {
    'create_id': 'user.id',
    'modify_id': 'users.id',
    'setting': 'category.status',
}

chartConfig = {
    'width': 300,  # 表格宽度
    'lineCount': 5,  # 列数
    'bottom': 100,  # 每行表格下间距
}

enableFilter = False # 是否开启过滤 默认是False

# 允许显示的表
allowTable = [
    "products",
    "skus",
]